alias tmux='tmux -u'
alias todo='vim /home/nitish/todo'
alias work='vim /home/nitish/work.md'
alias cal='cal -3'
alias gping='ping -c 3 google.com'
alias asdf='/home/nitish/cron/authenticate.sh'
alias untar='tar -xvf'
alias listvm='sudo virsh list --all'
alias rsync='rsync -avzhP'
alias downit='aria2c -x16'
alias til='cd /home/nitish/til'
alias ctx='kubectx'

# Git
alias gcx='git commit -m "$(curl -s whatthecommit.com/index.txt)"'

#Local VM
alias atlantis='ssh th3nyx@192.168.122.99'
alias virsh='sudo virsh'

# Docker
alias docker_clear='docker rm $(docker ps -aq)'


# Kubernetes
alias kd='kubectl describe'
alias kg='kubectl get'

# Work
alias laptop='ssh jadia@192.168.1.200'

# Long Tasks
alias scisHomePush='mkdocs build && gaa && gcmsg "update" && git push && rsync -avzhP site/*  18mcmt13@10.5.0.90:/users/mtech/18mcmt13/public_html/'
alias vpn='sudo openvpn ~/VPN/nitish.ovpn'
#alias nmtui='nmcli dev wifi rescan && nmtui'
